/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset

body
    background: #EEE

#footer
    background-color: #333
    min-width: 100%
    display: block
    bottom: 0
    left: 0
    position: fixed
    min-height: 50px
    -webkit-box-shadow: 0 -5px 40px 0px rgba(0, 0, 0, .75)
    -moz-box-shadow: 0 -5px 40px 0px rgba(0, 0, 0, .75)
    -box-shadow: 0 -5px 40px 0px rgba(0, 0, 0, .75)

